* {
    font-family: sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    color: white;
}

.head-img {
    min-width: 110%;
    min-height: 100%;
    position: absolute;
    left: 0;
    opacity: .8;
    z-index: -1;
}

header {
    /* background-image: url('img/ridgedale2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -30rem; */
    height: 19rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

header h1, header p {
    text-align: center;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 .2rem black, 0 0 .2rem black;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1.3rem;
}

main {
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    max-width: 35rem;
    flex-shrink: 1;
}

main h2 {
    text-align: center;
}
